.content-PR {
  padding: 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  /* .content-PR {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
  } */
}

.PR__map-container {
  height: 100%;
  position: relative;
}

.PR__results-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** RESULTS TABLE ***/

.results-table {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 10px;
}

.results-table__header-total,
.results-table__header-prct,
.results-table__item-total,
.results-table__item-prct {
  justify-self: center;
}

/*** CONCELHOS MAP ***/

.map-pt__zoom-out {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: inherit;
  cursor: pointer;
}

.map-pt__zoom-out i {
  font-size: 2rem;
}

@media (hover: hover) {
  .map-pt__zoom-out:hover {
    color: var(--clr-ps);
  }
}

.map-pt__distrito {
  fill: #f1f1f1;
  fill-opacity: 0;
}

.map-pt__bw.map-pt__freguesia {
  fill-opacity: 0.6;
}

.map-pt__bw.map-pt__concelho {
  fill-opacity: 0.4;
}

.map-pt__bw.map-pt__distrito {
  fill-opacity: 0.75;
}

.map-pt__selectable {
  cursor: pointer;
}

@media (hover: hover) {
  .map-pt__selectable.map-pt__concelho:hover,
  .map-pt__selectable.map-pt__freguesia:hover {
    fill-opacity: 0.5;
  }

  .map-pt__selectable.map-pt__distrito:hover {
    fill-opacity: 0.3;
  }
}
