.content-PR {
  padding: 15px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PR__results-container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 100%;
}

.PR__results-map {
  height: 100%;
  position: relative;
  min-height: 300px;
}

.PR__results-location,
.PR__results-zoom-out {
  position: absolute;
  background: rgba(241, 241, 241, 0.75);
}

.PR__results-location {
  top: 0;
  right: 0;
}

.PR__results-zoom-out {
  bottom: 0;
  right: 0;
}

.PR__results-table {
  padding: 7px;
  padding-left: 5px;
  min-height: 100%;
}

.results-table {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  row-gap: 2px;
  align-items: center;

  font-size: 0.75rem;
}

.results-table__item-name,
.results-table__item-total {
  display: none;
}

.results-table__item-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

.PR__results-location {
  max-width: 50%;
  padding: 7px;
}

.PR__results-location span {
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 5px;
}

.PR__results-location i {
  font-size: 0.875rem;
  position: relative;
  top: 2px;
}

.PR__results-zoom-out {
  border: none;
  color: inherit;
  cursor: pointer;
}

.PR__results-zoom-out i {
  font-size: 1.75rem;
}

@media (hover: hover) {
  .PR__results-location span:hover,
  .PR__results-zoom-out:hover {
    color: var(--clr-ps);
  }

  .PR__results-location span:hover i {
    color: var(--clr-gray-text);
  }
}

/*** CONCELHOS MAP ***/

.map-pt__distrito {
  fill: #f1f1f1;
  fill-opacity: 0;
}

.map-pt__bw.map-pt__freguesia {
  fill-opacity: 0.6;
}

.map-pt__bw.map-pt__concelho {
  fill-opacity: 0.4;
}

.map-pt__bw.map-pt__distrito {
  fill-opacity: 0.75;
}

.map-pt__selectable {
  cursor: pointer;
}

@media (hover: hover) {
  .map-pt__selectable.map-pt__concelho:hover,
  .map-pt__selectable.map-pt__freguesia:hover {
    fill-opacity: 0.5;
  }

  .map-pt__selectable.map-pt__distrito:hover {
    fill-opacity: 0.3;
  }
}
