* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --clr-gray-lighter: #f1f1f1;
  --clr-gray-light: #a7a7a7;
  --clr-gray-text: #6b6363;
  --clr-ps: #f733b6;
}

body {
  background: var(--clr-gray-lighter);
  color: var(--clr-gray-text);
  font-family: "Lato", sans-serif;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
}

/*** INDEX ***/

.welcome {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome__logo {
  width: 15em;
  margin-bottom: 2em;
  transform: scale(1);
  transition: transform 0.25s;
}

.welcome__logo:hover {
  transform: scale(1.05);
}

.welcome__msg {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.welcome__ul {
  list-style: none;
  display: flex;
}

/*** BUTTONS ***/

.btn {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 1em;
  margin: 0.5em;
  background-color: #fff;
  color: inherit;
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: all 0.25s;
}

.btn i {
  color: var(--clr-ps);
  font-size: 1.5em;
  margin-right: 0.25rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-gray-light);
  color: #fff;
  outline: none;
  transform: scale(1.05);
}

.btn-floating-action {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  background: var(--clr-ps);
  color: var(--clr-gray-lighter);
  border-radius: 50%;
  z-index: 3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-floating-action i {
  font-size: 1.75rem;
  color: var(--clr-gray-lighter);
  margin: 0;
}

/*** NAVIGATION ***/

.hover-scale {
  transform: scale(1);
  color: inherit;
  transition: all 0.1s;
}

.hover-scale:hover,
.hover-scale:focus {
  transform: scale(1.05);
  color: var(--clr-ps);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  z-index: 5;
  background-color: #fff;
  padding: 2em;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.1s;
}

.nav-open {
  transform: translateX(-100%);
}

.nav__logo {
  width: 5em;
  cursor: pointer;
}

.nav__logo__drawer {
  margin: 1em 0 1.5em;
  width: 10em;
}

.nav__ul {
  list-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  font-weight: var(--fw-light);
  display: inline-block;
  padding: 1.2em;
}

.nav__link-selected {
  color: var(--clr-ps);
  transform: scale(1.05);
}

.nav__open,
.nav__close {
  font-family: inherit;
  font-weight: var(--fw-light);
  background: 0;
  border: 0;
  cursor: pointer;
}

.nav__close {
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  padding: 0;
}

.nav__open {
  font-size: 1.8rem;
  margin: 0;
  margin-left: auto;
}

@media (min-width: 550px) {
  .header {
    flex-direction: column;
  }

  .nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
    padding: 0;
    margin-top: 1em;
    flex: 0;
  }

  .nav-open {
    transform: translateX(0);
  }

  .nav__ul {
    flex-direction: row;
    margin: 0;
  }

  .nav__link {
    font-size: 0.75em;
    padding: 0 1em;
  }

  .nav__logo__drawer,
  .nav__open,
  .nav__close {
    display: none;
  }
}

@media (min-width: 650px) {
  .header {
    flex-direction: row;
  }

  .nav {
    margin-top: 0;
    margin-left: 2em;
  }
}

/*** CONTENT ***/

.content {
  flex-grow: 1;
  padding-top: 5rem;
  min-height: 100vh;
}

@media (min-width: 550px) and (max-width: 650px) {
  .content {
    padding-top: 7rem;
    flex-grow: 0;
  }
}

/** PARTIDOS INDEX **/

.content-party-index {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.party-index__logo {
  margin: 2rem;
  cursor: pointer;
  max-height: 150px;
  max-width: 150px;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s;
} 

.party-index__logo:hover {
  transform: scale(1.1);
}


/*** PARTIDOS ***/
.content-party {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) 20fr minmax(1em, 1fr);
  grid-template-areas:
    ". logo ."
    ". name ."
    ". data ."
    ". position ."
    ". range ."
    ". other .";
  grid-row-gap: 1rem;
  justify-items: center;
  position: relative;
}

.party__btn-large {
  display: none;
}

.party__name {
  grid-area: name;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: var(--fw-light);
  color: var(--clr-gray-text);
  letter-spacing: 1px;
}

.party__name::after,
.party__name::before {
  content: "";
  display: block;
  background-color: var(--clr-ps);
  width: 100%;
  height: 1px;
  margin: 1px;
}

.party__logo {
  grid-area: logo;
  margin-top: 1em;
  width: 175px;
}

.party__data {
  grid-area: data;
  list-style: none;
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  font-weight: var(--fw-light);
}

.party__data-item {
  margin: 1rem 0;
}

.party__data-item-title {
  font-size: 0.875em;
  margin-bottom: 0.25em;
}

.party__data-item-bar {
  text-align: right;
  height: 1rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  transition: all 0.5s;
}

.party__data-item-value {
  font-size: 0.75em;
}

.party__position {
  grid-area: position;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.party__position-item {
  position: relative;
  margin: 0.5em;
  flex-basis: 150px;
  max-height: 200px;
}

.party__position-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.party__position-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75em;
  transition: all 0.2s;

  color: var(--clr-gray-lighter);
  background-color: rgba(0, 0, 0, 0.7);
  outline: 1px solid var(--clr-gray-light);
  outline-offset: -0.5em;
}

.party__position-item:hover .party__position-details {
  color: transparent;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

.party__position-name {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin-bottom: 1em;
  position: relative;
}

.party__position-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 1px;
  left: 30%;
  bottom: -0.7em;
  transition: all 0.2s;
  opacity: 0.7;

  background-color: var(--clr-ps);
  transform: scaleX(1);
}

.party__position-item:hover .party__position-name::after {
  background-color: none;
  transform: scaleX(0);
}

.party__position-title {
  font-weight: var(--fw-light);
  font-size: 0.875rem;
}

.party__range-container {
  grid-area: range;
  width: 100%;
  margin: 2em 0;
}

.party__other-logos {
  grid-area: other;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.party__other-logo {
  margin: 0.5em;
  cursor: pointer;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

@media (min-width: 650px) {
  .content-party {
    grid-template-areas:
      ". name ."
      ". data ."
      ". position ."
      ". range ."
      ". other .";
    align-items: center;
  }
  .party__logo {
    align-self: start;
    position: absolute;
    left: 1em;
    top: calc(-0.5em + 5rem);
    width: 15%;
  }
  .party__data {
    max-width: none;
    display: flex;
    flex-direction: column;
  }
  .party__data-item {
    position: relative;
    margin: 0.5rem auto 0.5rem;
    transform: translateX(30%);
  }
  .party__data-item-title {
    position: absolute;
    right: calc(100% + 0.5rem);
    bottom: -2px;
    width: max-content;
  }
  .party__data-item-bar {
    width: 200px;
  }
  .party__name {
    margin-top: 1rem;
    align-self: center;
  }
  .party__range-container {
    margin: 0 auto 1rem;
  }
  .party__other-logos {
    align-self: start;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .content-party {
    grid-template-columns:
      minmax(1em, 1fr) minmax(200px, 1fr) 20fr minmax(200px, 1fr)
      minmax(1em, 1fr);
    grid-template-areas:
      ". logo name btn ."
      ". logo data btn ."
      ". position position position ."
      ". . range . ."
      ". other other other .";
  }
  .party__logo {
    grid-area: logo;
    position: relative;
    width: 175px;
    left: 0;
    top: 0;
  }
  .party__btn-large {
    grid-area: btn;
    display: flex;
    align-self: start;
    margin-top: 3rem;
    font-size: 0.75rem;
    font-weight: var(--fw-light);
  }
  .party__btn-small {
    display: none;
  }
}
